.wrapper {
    // background: linear-gradient(0deg, #fff, #e4fff0);
    // padding: 20px 0;
    // position: relative;
    background: url(../../assets/images/bg-search-left-opacity.png),url(../../assets/images/bg-search-right.png),linear-gradient(90deg,#212f3f,#00b14f);
    background-position: 0 0,100% 0,50%;
    background-repeat: no-repeat;
    background-size: auto 340px,auto 340px,100% 100%;
    padding: 16px 0;
}

.wrapper * {
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .wrapper {
        padding: 40px 0 24px;
    }

    .container {
        width: 750px;
    }

    .box-filter {
        flex-direction: row;
        gap: 12px;
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
    .group-box {
        flex-direction: row !important;
        gap: 12px !important;
        margin-bottom: 12px !important;
    }
}
@media screen and (min-width: 1200px) {
    .wrapper {
        padding-bottom: 24px;
        padding-top: 32px;
    }
    .container {
        width: 1170px;
    }

    .box-search {
        display: flex;
        gap: 18px;
        margin-bottom: 0px !important;
    }

    .group-box {
        gap: 18px !important;
        margin-bottom: 0 !important;
    }

    .box-filter {
        gap: 18px;
        margin-bottom: 0;
    }

    .btn-filter {
        margin-top: 0 !important;
        min-width: 120px !important;
        padding-bottom: 15px !important;
        padding-top: 15px !important;
    }

}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.group-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    margin-bottom: 12px;
}

.box-search {
    margin-bottom: 16px;
    position: relative;
    z-index: 4;
}

.btn-filter {
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 6px;
    background: #00b14f;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 12px;
    padding-bottom: 11px;
    padding-top: 11px;
    width: 100%;
}
