* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    color: #464646;
    text-rendering: optimizeSpeed;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857143;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

input {
    outline: none;
    border: none;
}
